@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-black text-capitalize">Welcome To Pizza Shop</h1>
        <h2 class="text-black">The Best Pizza in Town</h2>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mb-5" style="float: inherit" asp-area="" asp-page="Pizza">Try Now</a>
</div>
